#img3 {
    display: none;
}

#apresentacao {
    background-image: url(imagens/fundo1menor.JPG);
    background-size: contain;
    background-repeat: no-repeat;
}

#imagensApresentacao {
    bottom: -55%;
}

#imagensApresentacao img {
    max-width: 200px;
    width: 30vw;
    height: 20vh;
    margin: 20px;
}

#agendar {
    height: 100%;
}

#agendar form {
    display: grid;
}

#contatos {
    font-size: .5em;
}


footer img {
    left: 20px;
}